
.container{
    height: 60vh;
    width: 70vw;
}
.heading p {
    font-size: 1.4rem;
}
.detail input {
    width: 50vw;
}
.detail button {
    width: 20vw;
    height: 4vh;
    font-size: 0.9rem;
}
.detail p a {
    font-size: 0.60rem;
}
.detail p{
    font-size: 0.60rem;
}