.hamBurger{
    display: block;
    width: 7vw;
    display: flex;
    font-size: 1.5rem;
    justify-content: space-between;

}
.navItems{
    display: none;
}
.search{
    display: none;
}
.glassForPhone i{
    display: block;
    margin-right: 30px;
}
.panel{
    display: none;
}
#contact input{
    width: 35vw;
}